# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Misc
*.log

# OSX
.DS_Store

# Never needed database files
messages.db
combats.db
fog.db
settings.db
users.db

# Not used in this world database files
macros.db
cards.db
